.mouse {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(0, 0) scale(1);
  z-index: 9999;
  transition: transform 0.15s ease-out;
  background: red;      /* Now the follower is red */
}



