@import "tailwindcss";


*{

  box-sizing: border-box;

}




.alan {
  font-family: "Alan Sans", sans-serif;

  font-style: normal;
}

.mont {
  font-family: "Montserrat", sans-serif;
font-weight: 500;
  font-style: normal;
}

.popin {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.big {
  font-family: "Big Shoulders", sans-serif;
font-weight: 500;
  font-style: normal;
}
